html {
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color:  black;
}

.brokenLine {font-size: 100%;}
.oneLine {display: none;}

@media screen and (min-width: 5cm) {
    .brokenLine {display: none;}
    .oneLine {font-size: 100%; display: block}
}

body {
    font-size: 100%;
    text-align: center;
}

nav {
    font-weight: bold;
}

footer {
    font-weight: bold;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: white;
    background-color: transparent; 
    text-decoration: none;
}

a:hover {
    color: rgb(139, 208, 251);
    background-color: transparent; 
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent; 
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

.collapse {
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    font-weight: bold;

    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
}

.collapse-active, .collapse:hover {
    background-color: #555;
}

.collapse-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: darkcyan;
}

.q-grid {
    display: grid;
    grid-template-columns: 25vw auto;
}

.q-grid > p {
    text-align: left;
    grid-column: 2;
}

.ans-grid {
    display: grid;
    grid-template-columns: 40vw auto;
}

.ans-box {
    display: block;
    text-align: left;
    grid-column: 2;
}

.font {
    font-size: 100%;
}

.button-submit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1-submit {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1-submit:hover {
    background-color: #4CAF50;
    color: white;
  }
  